* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

.subject {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

/* ------HEADER------*/

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  padding: 24px 0;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

.nav-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  background-color: #404bbf;
  opacity: 0;
}

.nav-link:hover::after,
.nav-link:focus:after,
.nav-link.current::after {
  opacity: 1;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
  align-items: center;
  gap: 40px;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current {
  color: #404bbf;
}

/* ------HERO ------*/
.hero {
  background: #2e2f42;
  padding: 188px 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 1440px;
  height: 600px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office\ 1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero-container {
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  display: flex;
  align-items: center;
  max-width: 496px;
  margin: 0px auto;
}

.hero-button {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: block;
  align-items: center;
  border: none;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  margin: 48px auto 0px auto;
}

.hero-button:hover,
.hero-button:focus {
  background: #404bbf;
}
/* ------ADVANTAGES ------*/
.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
  margin: auto;
}

.advantages-container {
}

.advantages-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.advantages-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.advantages-item {
  width: calc((100% - 72px) / 4);
}

.advantages-item-icon-antenna {
  display: flex;
  background-color: #f4f4fd;
  background-image: ;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
}

.advantages-item-icon-antenna.antena {
  fill: white;
}

.advantages-subtitle {
  margin-bottom: 8px;
}

/* ------OUR TEAM ------*/
.team {
  background: #f4f4fd;
  padding: 120px 0;
}

.team-container {
}

.team-title {
  font-weight: 700;
  text-transform: capitalize;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  width: calc((100% - 72px) / 4);
}

.team-image {
  display: block;
  align-items: center;
}

.team-item-nametag {
  padding: 32px 0;
}

.team-subtitle {
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/* ------PORTFOLIO ------*/
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-container {
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}
.portfolio-image {
}

.portfolio-item-nametag {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-subtitle {
  text-align: left;
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: left;
}

/* ------FOOTER ------*/
.page-footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
}

.footer-logo {
  display: inline-block;
  margin: 0px 0px 16px 0px;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
